svg{
    color: white;
}
.div-heade{
    margin: 55px;
    width: 150px;
    height: 50px;
}
 .conten-opc{
    height: 10%;
    width: 10%;
 }
.contain-heade{
    z-index: 2;
    background-color: #ed3c9a;
    width: 100%;
    min-height: 70px;
    text-align: center;
    position: fixed;
}

.opc-encabezado{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.opcs-encabezado{
    color: #ED3C9A;
    font-weight:bold
}
.img-encabezado{
    width: 100%;
    height: 350%;
    margin: -40px;
}

.conten-encabezado-img{
    width: 25%;
}
.encabezado{
    align-content: center;
    height: 500px;
    padding: 10% 30% ;
    background-image: url('./img/fondo-productos4.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* background-attachment: fixed; */
} 

.encabezado .titulo{
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn-outline-primary {
    --bs-btn-color: #ff04d7;
    --bs-btn-border-color: #fd0da7;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fd0d6a;
    --bs-btn-hover-border-color: #fd0dd6;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ed3c9a;
    --bs-btn-active-border-color: #ffffff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ed3c9a;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
}

.titulo-encabezado{
    color: #ff0088;
    font-size: 4rem;
    background-color: #ffffffa6;
    text-align: center;

}


.header-icon{
    max-width: 110px;
    align-self: auto;
    margin-left: 39%;
    margin-top: 20px;

    
}

/* .navegacion{
    background-image: url('./img/fondo-productos4.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
} */
.botones{
    margin-top: 2%;
    padding: 0 15%;
    margin-bottom: -12%;
    color: var(#000);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
  }
    


/* .boton{
    color: #ed3c9a;
} */

/* .btn-outline-primary{
    background-color: #ed3e9a;
    color: #000;
} */

.botones a{
    text-decoration: none;
    color: #000;
}






.tarjetas{
    padding: 0 15%;
    margin-top: 7%;
}
.card:hover {
    transform: scale(1.1); /* Escalar la tarjeta al 110% del tamaño original */
    transition: transform 0.3s ease-in-out; /* Añadir transición suave */
  }
  
.juguetes{
    margin-top: 14%;
    
}

.card{
    margin-top: 20%;
    background-color: #ed3c9ae1;
    color: #fff;
}


.tarjetas .btn{
    color: #000;
    background-color: #fff;
    text-decoration: none;
    border: none;
}

/* --------------------------------------------------CSS DEL FOOTER------------------------------------------------------------- */
.footer-section{
    align-items: center;
    text-align: center;
    align-content: center;
}

.div1-foter{
    height: 90px;
    width: 100%;
    background-color: #ED3C9A;
    clip-path: ellipse(60% 100% at 55% 100%);
}

.div2-foter, .div3-foter{
    background-color: #ED3C9A;
    height: 80px;
}

.list-foter{
    text-align: center;
    list-style-type: none;
    
}
.icon-foter{
    display: inline;
    margin-right: 40px;
}

.text-footer{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}



.boton-services{
    width: 15%;
}
/* @media (min-width: 768px){
    .text-footer {
    }
} */
@media only screen and (max-width:1700px) {
    .contain-heade{
        position: absolute;
        width: 100%;
        height: 60%;
        display: grid;
        column-count: auto auto auto;
    }
}
