
*{
    box-sizing: border-box;
}
svg{
    color: white;
}


/* --------------------------------------------------CSS DEL HEADER------------------------------------------------------------- */
.div-heade{
    margin: 55px;
    width: 150px;
    height: 50px;
}
 .conten-opc{
    height: 10%;
    width: 10%;
 }
.contain-heade{
    z-index: 2;
    background-color: #ed3c9a;
    width: 100%;
    min-height: 70px;
    text-align: center;
    position: fixed;
}

.opc-encabezado{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.opcs-encabezado{
    color: #ED3C9A;
    font-weight:bold
}
.img-encabezado{
    width: 100%;
    height: 350%;
    margin: -40px;
}

.conten-encabezado-img{
    width: 25%;
}

.conten-encabezado-img{
    width: 25%;
}


/* --------------------------------------------------CSS DEL SERVICIOSSS------------------------------------------------------------- */
.servicios-img{
    width: 100px;
}
.div-services{
    margin: 20px;
    
}
.divs-services{
    width: 70%;
}
.title-services{
    font-size: 50px;
}
.services-titlespam{
    color: #ED3C9A;
}
.parrafo-pan{
    font-weight: bold
}
.parrafo-services{
    font-size: 19px;
    text-align: justify;
}
.clinica-div{
    width: 48%;
    height: 500px;
    border: 20px violet;
}
.img-clinica{
    width: 100%;
    height: 100%;
    border: 10px #ED3C9A solid;
}
.title2-services{
    text-align: center;
}
h2{
    font-size: 50px;
}
.p-services{
    font-size: 30px;
    text-align: justify;
}
.img-services2{
    text-align: center;
}
.lista-servicios{
    font-size: 30px;
}
.spam-negrita{
    font-weight: bold;
}
.botenes{
    width: 100%;
    margin-left: 40px;
    color: #ED3C9A;
    text-align: center;
}
.btn-primary{
    width: 300px;
    margin: 0 70px;
    color: white;
    background-color: #ED3C9A;
    border: black;
    font-weight: bold;
    margin-top: 20px;
}
.btn-primary:hover{
    background-color: violet;
}
.titulo-servicios{
    color: #ED3C9A;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}
.parrafo-servicios{
    font-size: 30px;
    font-weight: bold;
    text-align: justify;
    margin: 0 80px;
}

/* --------------------------------------------------CSS DEL Contacto------------------------------------------------------------- */

.contac-grid{
    min-width: 10%;
}
.lista-contact{
    list-style: none;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.direccion{
    text-decoration: none;
    color: black;
}
.btn-primary{
    width: 50%;
}
.buton{
    align-items: center;
}
.titulo-contac{
    width: 100%;
}
/* --------------------------------------------------CSS DEL FOOTER------------------------------------------------------------- */
.footer-section{
    align-items: center;
    text-align: center;
    align-content: center;
}

.div1-foter{
    height: 90px;
    width: 100%;
    background-color: #ED3C9A;
    clip-path: ellipse(60% 100% at 55% 100%);
}

.div2-foter, .div3-foter{
    background-color: #ED3C9A;
    height: 80px;
}

.list-foter{
    text-align: center;
    list-style-type: none;
    
}
.icon-foter{
    display: inline;
    margin-right: 40px;
}

.text-footer{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}



.boton-services{
    width: 15%;
}
@media only screen and (max-width:1000px) {
    .contain-heade{
        position: absolute;
        width: 100%;
        height: 60%;
        display: grid;
        column-count: auto auto auto;
    }
}
